.appbar {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 5px;
  padding-top: 0;
}

.square {
  width: 35px;
  height: 35px;
}

ul.content > li {
  display: flex;
  justify-content: space-between;
}

ul.content > li > * {
  margin: 5px;
}
